@use "variables";

.wrapper {
  width: 860px;
  margin: 0 auto;
}

header {
  width: 270px;
  float: left;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  background-color: #fff;
  padding: 50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  margin: 0 0 20px;
}

p,
ul,
ol,
table,
pre,
dl {
  margin: 0 0 20px;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

h1 {
  font-size: 28px;
}

a {
  color: #267cb9;
  text-decoration: none;
}

a:hover,
a:focus {
  color: salmon;
  font-weight: bold;
}

a small {
  font-size: 11px;
  color: black;
  margin-top: -0.3em;
  display: block;
}

a:hover small {
  color: #777;
}

strong {
  color: #222;
  font-weight: 700;
}

section {
  width: 500px;
  float: right;
  padding-bottom: 50px;
}

small {
  font-size: 11px;
}

hr {
  border: 0;
  background: #e5e5e5;
  height: 1px;
  margin: 0 0 20px;
}

footer {
  width: 270px;
  float: left;
  position: fixed;
  bottom: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
}

pre {
  padding: 8px 15px;
  // background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  overflow-x: auto;
}
