@use "variables";

// Core Styles
body {
  background-color: variables.$bg-color;
  padding: 50px;
  font: 14px/1.5 variables.$font-family;
  color: variables.$font-color;
  font-weight: 400;
}

section {
  width: variables.$section-width;
  float: right;
  padding-bottom: 50px;
}

header {
  width: variables.$header-width;
  float: left;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;
}

blockquote {
  border-left: 1px solid variables.$border-color;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

.wrapper {
  width: variables.$wrapper-width;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
}

// Links
a {
  color: variables.$link-color;
  text-decoration: none;
}

a:hover,
a:focus {
  color: variables.$link-color-hover;
  font-weight: bold;
}

a small {
  font-size: 11px;
  color: variables.$font-color-small;
  margin-top: -0.3em;
  display: block;
}

a:hover small {
  color: variables.$font-color-small;
}

// Code
code,
pre {
  font-family: variables.$font-family-code;
  color: variables.$font-color-code;
}

pre {
  padding: 8px 15px;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid variables.$border-color;
  overflow-x: auto;
}

kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

// Miscellaneous
img {
  max-width: 100%;
}

small {
  font-size: variables.$font-size-small;
}

hr {
  border: 0;
  background: variables.$border-color;
  height: 1px;
}

footer {
  width: variables.$footer-width;
  float: left;
  position: fixed;
  bottom: 50px;
  -webkit-font-smoothing: subpixel-antialiased;
}

// Tables
table {
  margin: 0 auto;
  border-collapse: collapse;
  font-size: 12px;
}
table thead th,
table tfoot th {
  background: rgba(0, 0, 0, 0.2);
}
table th,
table td {
  padding: 2px 5px;
  border: 1px solid gray;
  border-radius: 4px;
}

// Media Layout
@media print, screen and (max-width: variables.$media-max-width) {
  div.wrapper {
    width: auto;
    margin: 0;
  }

  header,
  section,
  footer {
    float: none;
    position: static;
    width: auto;
  }

  header {
    padding-right: 320px;
  }

  section {
    border: 1px solid variables.$border-color;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }

  header a small {
    display: inline;
  }

  header ul {
    position: absolute;
    right: 50px;
    top: 52px;
  }
}

@media print, screen and (max-width: variables.$media-max-width-smaller) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 0;
  }

  header ul,
  header p.view {
    position: static;
  }

  pre,
  code {
    word-wrap: normal;
  }
}

@media print, screen and (max-width: variables.$media-max-width-even-smaller) {
  body {
    padding: 15px;
  }

  .downloads {
    width: 99%;
  }

  .downloads li,
  .downloads li + li + li {
    width: 33%;
  }
}

@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    // color: #444;
  }
}
