// Custom CSS goes here //
@use "vars";

.sidebar-description {
  padding-top: 1rem;
}

.extra {
  font-size: 0.75rem;
  // padding-bottom: 0.5rem;
  // margin-bottom: 2rem;
}

.base-list {
  list-style: none;
  padding: 0 15px;

  & > li > a {
    text-decoration: none;
    // color: $color-link;
  }
}

.page-navigator {
  margin-bottom: 1rem;
  text-align: center;

  & > span,
  & > a {
    // color: $color-lgrey;
    font-size: 12px;
  }

  & > .pages {
    // color: $color-grey;
    font-size: 15px;
    margin: 0 10px;
  }

  & > a {
    // color: $color-link;
    text-decoration: none;
  }
}

.catalogue {
  border-bottom: 1px solid #e5e5e5;
  border-width: 1px 0;
  padding: 0.5rem 0;
  margin: 0 0 1rem;
  &-item {
    border-bottom: 1px solid grey;
    color: black;
    display: block;
    padding-bottom: 2rem;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: grey;
    // font-family: $serif-secondary;
    letter-spacing: 0.5px;
  }

  &-title {
    color: black;
    display: block;
    // font-family: $sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin: 0.5rem 0;
  }

  &-line {
    @include vars.transition(all 0.3s ease-out);
    border-top: 0.2rem solid grey;
    display: block;
    width: 2rem;
  }
}

.description {
  margin-bottom: 0.5rem;
  color: vars.$font-color;
  text-align: justify;
}
