@use "variables";

table {
  margin: 1rem auto;
  border-collapse: collapse;
}

table thead th,
table tfoot th {
  color: variables.$font-color;
  background: rgba(0, 0, 0, 0.15);
}

table caption {
  padding: 0.5em;
}

table th,
table td {
  padding: 0.5em;
  border: 1px solid variables.$border-color;
}
