// Variables
$font-color: #202020;
$bg-color: #fff;
$border-color: #e5e5e5;
$section-width: 500px;
$header-width: 270px;
$footer-width: 270px;
$wrapper-width: 860px;
$link-color: #267cb9;
$link-color-hover: #069;
$font-color-small: #777;
$font-color-code: #333;
$font-size-small: 11px;
$font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-code:
  Monaco,
  Bitstream Vera Sans Mono,
  Lucida Console,
  Terminal,
  Consolas,
  Liberation Mono,
  DejaVu Sans Mono,
  Courier New,
  monospace;

$media-max-width: 960px;
$media-max-width-smaller: 720px;
$media-max-width-even-smaller: 480px;
