<h2>Get In Touch!</h2>
<p>
  Send me an
  <a href="mailto:contact@miguelpimentel.do?Subject=Hello,%20Miguel!">email</a> or ping me on
  <a rel="me" href="https://instagram.com/miguelapv">Instagram</a>. I’m also on
  <a href="https://github.com/semanticdata/">GitHub</a>, and
  <a href="https://www.linkedin.com/in/miguelpimentel29/
">LinkedIn</a> if you’re into that sort of thing.
</p>

<p class="copyright">
  Powered by <a href="https://www.getzola.org/">Zola</a> and <a
    href="https://github.com/semanticdata/zola-portfolio/">Portfolio</a>.<br>
    {% if config.extra.author %}
    © 2023 {{ config.extra.author | safe }}
    {% else %}
    © 2023 Miguel Pimentel
    {% endif %}
</p>