<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ config.title }}{% if page.title %} | {{ page.title }}{% elif section.title %} | {{ section.pages }}{% endif %}
  </title>
  <meta name="description" itemprop="about" content="{{config.description}}">
  <link rel="shortcut icon" href="{{ config.base_url | safe }}favicon.png">
  {%- if config.generate_rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") }}">
  {%- endif -%}
  <link rel="preload" fetchpriority="high" as="image" href="{{ get_url(path="profile.jpg") | safe }}" type="image/jpg">
  {# <link rel="stylesheet" href="{{ get_url(path="styles.css") | safe }}" /> #}
  <link rel="preload" href="{{ get_url(path="styles.css") | safe }}" as="style" onload="this.onload=null;this.rel='stylesheet'" />
  <noscript><link rel="stylesheet" href="{{ get_url(path="styles.css") | safe }}"></noscript>
</head>